.header {
  display: flex;
  justify-content: space-evenly;
  background-color: #00aeea;
  padding-left: 100px;
  width: auto;
  height: 60px;
}
.imaniLogo {
  height: 45px;
  padding-top: 7px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.navs a {
  margin-top: 18px;
}

ul li {
  float: left;
  width: 100px;
  text-align: center;
}

.navs:hover {
  background-color: rgb(0, 50, 116);
  height: 60px;
}

ul li a {
  text-decoration: none;
  color: white;
  display: block;
}

ul li ul li {
  display: none;
}

ul li:hover ul li {
  position: relative;
  top: 22px;
  display: block;
  background-color: rgb(0, 50, 116);
  width: 170px;
  border-bottom: 0.5px solid grey;
  text-align: justify;
  padding: 5px;
  height: 30px;
  align-items: center;
}

ul li ul li a {
  position: relative;
  top: -10px;
}

ul li ul li a:hover {
  color: #00aeea;
}
/* 3
.headerMenu{
    margin: 10px 0;
    display: inline-flex;
    padding-top:8px;
} */

/* .headerMenu li{
    text-decoration: none;
    list-style: none;
     display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;

}

.headerMenu li:hover{
    background-color: khaki;
    margin: 3px;
}

.headerMenu a{
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    
}

.headerMenu :nth-child(1){
    width:25px;
    height: 25px;   
}

.headerMenu a:hover{
    color: wheat;
} */

.login {
  display: flex;
  margin-right: 80px;
}
.login a {
  display: flex;
  color: white;
  text-decoration: none;
  padding-top: 17px;
}
/* .login :nth-child(2) {
  position: relative;
  width: 25px;
  height: 25px;
  left: 5px;
  top: 8px;
  cursor: pointer;
} */

.login img {
  padding-top: 15px;
}

.login li {
  list-style: none;
  width: 115px;
}

.login li ul li {
  display: none;
}

.login li:hover ul li {
  position: relative;
  top: 22px;
  display: block;
  background-color: rgb(0, 50, 116);
  width: 190px;
  /* border-bottom: 0.5px solid grey; */
  text-align: justify;
  padding: 5px;
  height: 30px;
  align-items: center;
}

.login li ul li a:hover {
  color: #00aeea;
}
.loginNavs:hover {
  background-color: rgb(0, 50, 116);
  height: 60px;
}

.userInput {
  width: 190px;
  height: 27px;
  border: none;
  background-color: rgb(194, 194, 194);
}

::placeholder {
  padding: 5px;
  color: rgb(0, 50, 116);
}

li button {
  height: 30px;
  width: 130px;
  margin-left: 30px;
}
/* .searchicon {
  width: 25px;
  height: 25px;
  margin: 10px 0;
  padding-right: 70px;
  display: flex;
  cursor: pointer;
}

.searchInput {
  border: 0;
  width: 0;
  transition: width 0.1 ease-in;
}
.searchInput:focus {
  outline: none;
}
.searchInput.active {
  width: 150px;
  height: 30px;
  margin-top: 5px;
  border-radius: 35px;
  background-color: transparent;
  border: 1px solid white;
}

.form {
  display: flex;
  margin-left: 10px;
}

.linkDropdown {
  display: none;
  list-style: none;
} */
